<a href="https://colab.research.google.com/github/Giridhar1476/python-sem3/blob/main/unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#declaration of cell

In [ ]:
a=1
print('the value of a is',a)

the value of a is 1

#Multiple assignment in a variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

#Multiple assignments with same valuse

In [ ]:
a = b = 10
print(a,b)

10 10

#Rules for naming variable

1. Variable name can only contaion letters,digit and underscore
2. A variable name cannot start with a digit
3. variables name are case sensitive
4. avoid using python key words such as if,else,class

In [ ]:
a = 10
class = 1
user_name ="Giridhar"
1_name = "error"
print(a,class,user_name,1_name)

SyntaxError: invalid decimal literal (ipython-input-3970629924.py, line 4)

#String Datatypes

1.Array of datatypes representing unicode characters

2.No seperate character datatype;a character is a string of length one

3.String can be created using "

4.Acces individual character using indexing,starting at 0

5.STRINgs are immutable

6.str()

In [ ]:
s1 = "This is a string"
print(s1)
s2= "this "+"is "+"also "+"a "+"string"
print(s2)
print(len(s1))
print(len(s2))

This is a string
this is also a string
16
21

In [ ]:
s3 = "this is a string \
written along multiple lines"
print(s3)

this is a string written along multiple lines

In [ ]:
#multiply string with an integer to get multiple lines
Iron_man = "SMASH IT!\n"
print(Iron_man*5)

SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!

In [ ]:
Iron_man_2 = "hello world = this is not a comment"
Iron_man_2

'hello world = this is not a comment'

In [ ]:
Avenger = "IRONMAN"
length  = len(Avenger)
#length
first_ch=Avenger[0] # both are same -->firstch=Avenger[0]
print("the first character is :",(first_ch))

the first character is : I

In [ ]:
#negative indexing
last_ch=Avenger[-1]
print("the last character is :",last_ch)

the last character is : N

In [ ]:
#slicing
slicing = Avenger[1:5]
print(slicing)

RONM

In [ ]:
#slicing
slicing = Avenger[:6]
print(slicing)

IRONMA

In [ ]:
slicing = Avenger[1:]
print(slicing)

RONMAN

In [ ]:
slicing = Avenger[:-1]
print(slicing)

IRONMA

In [ ]:
slicing = Avenger[::]
print(slicing)

IRONMAN

In [ ]:
Avenger[0] = "0"
print(Avenger)
#beacause strings are imutable

TypeError: 'str' object does not support item assignment

In [ ]:
for ch in Avenger :
 print(ch)

I
R
O
N
M
A
N

In [ ]:
for i in range(len(Avenger)):
  print(i,Avenger[i])

0 I
1 R
2 O
3 N
4 M
5 A
6 N

In [ ]:
n= len(Avenger)
for i in range(len(Avenger)):
  print((n-1)-i,Avenger[(n-1)-i])

6 N
5 A
4 M
3 N
2 O
1 R
0 I

#palindrome or not

In [ ]:
name = input()
n=len(name)
for name=name:
  print(f)