<a href="https://colab.research.google.com/github/Giridhar1476/python-sem3/blob/main/unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#declaration of cell

In [ ]:
a=1
print('the value of a is',a)

the value of a is 1

#Multiple assignment in a variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

#Multiple assignments with same valuse

In [ ]:
a = b = 10
print(a,b)

10 10

#Rules for naming variable

1. Variable name can only contaion letters,digit and underscore
2. A variable name cannot start with a digit
3. variables name are case sensitive
4. avoid using python key words such as if,else,class

In [ ]:
a = 10
class = 1
user_name ="Giridhar"
1_name = "error"
print(a,class,user_name,1_name)

SyntaxError: invalid decimal literal (ipython-input-3970629924.py, line 4)

#String Datatypes

1.Array of datatypes representing unicode characters

2.No seperate character datatype;a character is a string of length one

3.String can be created using "

4.Acces individual character using indexing,starting at 0

5.STRINgs are immutable

6.str()

In [ ]:
s1 = "This is a string"
print(s1)
s2= "this "+"is "+"also "+"a "+"string"
print(s2)
print(len(s1))
print(len(s2))

This is a string
this is also a string
16
21

In [ ]:
s3 = "this is a string \
written along multiple lines"
print(s3)

this is a string written along multiple lines

In [ ]:
#multiply string with an integer to get multiple lines
Iron_man = "SMASH IT!\n"
print(Iron_man*5)

SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!

In [ ]:
Iron_man_2 = "hello world = this is not a comment"
Iron_man_2

'hello world = this is not a comment'

In [ ]:
Avenger = "IRONMAN"
length  = len(Avenger)
#length
first_ch=Avenger[0] # both are same -->firstch=Avenger[0]
print("the first character is :",(first_ch))

the first character is : I

In [ ]:
#negative indexing
last_ch=Avenger[-1]
print("the last character is :",last_ch)

the last character is : N

In [ ]:
#slicing
slicing = Avenger[1:5]
print(slicing)

RONM

In [ ]:
#slicing
slicing = Avenger[:6]
print(slicing)

IRONMA

In [ ]:
slicing = Avenger[1:]
print(slicing)

RONMAN

In [ ]:
slicing = Avenger[:-1]
print(slicing)

IRONMA

In [ ]:
slicing = Avenger[::]
print(slicing)

IRONMAN

In [ ]:
Avenger[0] = "0"
print(Avenger)
#beacause strings are imutable

TypeError: 'str' object does not support item assignment

In [ ]:
for ch in Avenger :
 print(ch)

I
R
O
N
M
A
N

In [ ]:
for i in range(len(Avenger)):
  print(i,Avenger[i])

0 I
1 R
2 O
3 N
4 M
5 A
6 N

In [ ]:
n= len(Avenger)
for i in range(len(Avenger)):
  print((n-1)-i,Avenger[(n-1)-i])

6 N
5 A
4 M
3 N
2 O
1 R
0 I

#palindrome or not

In [ ]:
name = input()
n=len(name)
for name=name:
  print(f)

In [4]:
a="\u03C0"
print(a)

π

** ASCII VALUES **

A - 65 , Z - 90

In early 1960s a standard was published called american standard code for information interchange (ASCII) . it specify the mapping if binary value of characters , it uses 7-bit to represent the character (0-127) range a(97) to z (122), A(65) to Z(90)

2. the SCII character sets is limited in that it cannot handle characters from other language , therefore unicode standard are proposed . Python3 uses unicode by default (utf-8). it defines more than one lakh characters . the prefix used to print the character in u example given below

In [5]:
a="\u03C0"
print(a)

π

1. \t it is used for horizontal tab
2. \a alert ,beep()
3. \b backspace ()
4. \n newline()
5. \v vertical tab(11)
6. \f new page (12)
7. \r carriage return(13)
8. \0 null or string terminator(0)

In [11]:
print("iron man \n Captian america")
print("hulk \t black widow")
print("wanda\'s vision")
print("C:\\Users\\giridhar\\OneDrive\\Documents\\algorithms lab")

iron man
 Captian america
hulk 	 black widow
wanda's vision
C:\Users\giridhar\OneDrive\Documents\algorithms lab

In [12]:
print("smash\aspiderman") #it will trigger a beep sound on supported terminals

smashspiderman

In [20]:
print("walter white\b jesse pinkman")
print("aegon \f jon snow")
print("inka \r modhaledadhama")

walter white jesse pinkman
aegon  jon snow
 modhaledadhama

In [21]:
x="TONY STARK"
print(x.lower())
y="heisenberg"
print(y.upper())

tony stark
HEISENBERG

Application
1. .lower(), .upper() is used to lower or capitalize the characters in a given string . These methods can be used for normalization to ensure the consistent case for the embedding in NLP

#Spilt method

1. the strip method in python is designed to remove the leading amd trailing whitespaces characters or specific character from the sting . it does not remove the spaces which occcur in the middle of the string.
2. replace -- 2 arguments

In [24]:
X= "@BRUCE BANNER"
print(X.strip(" & "))
print(X.replace(" ","")) #Replace -- two arguments

@BRUCE BANNER
@BRUCEBANNER

the application are
1. cleaning the data .
2. you can replace the null value with any character
3. correcting the text ex:typos/slang

In [30]:
#split - "this movie is amazing ."
s = "this movie is amazing . i like this movie"
p = s.split()
print(" ".join(p))

this movie is amazing . i like this movie

Application
1. split/join is used for tokenization
2. the method involves splitting the string into a list of word as a spaces as a delimeter . This delimeter automatically handles multiple spaces between words.